<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MobilityWatch - Report Incident</title>
        <link rel="icon" type="image/x-icon" href="/static/logo.png">
        <link rel="stylesheet" type="text/css" href="css/constants.css">
        <link rel="stylesheet" type="text/css" href="css/general.css">
        <link rel="stylesheet" type="text/css" href="css/incident.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id="header_nav">
            <div id="header_titleBox" href="">
                <img id="header_logo" src="logo2.png">
                <div id="header_title">MobilityWatch.</div>
            </div>

            <a href="/" id="header_home_btn" class="naviguation_item_box">
                <div class="naviguation_item">
                    <p>Home</p>
                    <div id="item_underline"></div>
                </div>
            </a>

            <a href="incident" id="header_incident_btn" class="naviguation_item_box">
                <div href="" class="naviguation_item">
                    <p>Report Incident</p>
                    <div id="item_underline"></div>
                </div>
            </a>

            <div id="header_c_toRight">
                <div id="header_search">
                    <input type="search" placeholder="Search">
                    <div id="search_icon"></div>
                </div>
                <a href="login" id="account_box">
                    <div id="account_icon_box"></div>
                    <div id="account_username_box">
                        <p id="account_username">Login</p>
                        <div id="account_underline"></div>
                    </div>
                </a>
            </div>
        </nav>
        <div class="page_content">
            <div class="section_title">Report a new incident</div>
            <div class="section_description">Fill in the form to report a new incident.</div>
            <form id="incident_form">
                <label for="incident_description">Description</label>
                <textarea id="incident_description" name="incident_description" placeholder="Describe the incident "></textarea>

                <label for="incident_adress">Adress</label>
                <textarea id="incident_adress" name="incident_adress" placeholder="Enter incident address"></textarea>
                <div id="submit_box">
                    <input id="incident_submit" type="submit" value="Report Incident">
                </div>
            </form>
        </div>
    </body>
</html>
